{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": [
    "**/logs/**",
    "**/node_modules/",
    "**/dist/",
    "release.config.js"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "airbnb-typescript/base",
    "prettier"
  ],
  "plugins": [
    "import"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "rules": {
    "no-console": "off",
    "max-lines": [
      "error",
      250
    ],
    "max-len": [
      "error",
      120
    ],
    "newline-before-return": "error",
    "@typescript-eslint/explicit-member-accessibility": 0,
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-var-requires": "off",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        }
      }
    ]
  }
}